/* style.css */
@import"../styles/global.css";

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.sales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
