/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    display: flex;
}
main {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 78%;
    margin: auto;
    overflow: hidden;
    margin-top: -10px;
    padding-top: 3%;
}
.carousel img {
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Transição suave de 1 segundo */
    border-radius: 5px;
}
.carousel img.active {
    opacity: 1;
    position: relative;
}
.carousel-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-controls button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.carousel-controls button:nth-child(1) {
    transform: rotate(180deg);
}
.carousel-controls button:hover {
    transform: scale(1.2);
}
.carousel-controls button:nth-child(1):hover {
    transform: rotate(180deg) scale(1.2);
}
/* Progress bar container */
.progress-bar-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
/* Progress bar */
.progress-bar {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ddd;
    transition: background-color 0.3s;
}
/* Active progress bar */
.progress-bar.active {
    background-color: #107C10;
}

/* Footer */
.footer {
    background-color: #161616;
}

.payment-icons {
    display: flex;
    gap: 15px;
    padding: 10px 0;
    background-color: #1A9F1A;
}

.payment-icons svg {
    width: 60px;
    height: 40px;
}

.payment-icons svg:nth-child(1) {
    margin-left: 2.5%;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.footer-column h3 {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column p {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #1A9F1A;
}

.footer-column form input,
.footer-column form button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #1A9F1A;
    background: #121212;
    color: #ffffff;
    border-radius: 5px;
}

.form-column form input:focus {
    outline: none;
    border: 1px solid #1A9F1A;
}

.footer-column form button {
    width: 35%;
    margin-left: 65%;
    background-color: #1A9F1A;
    cursor: pointer;
    transition: background-color 0.3s;
}

.footer-column form button:hover {
    background-color: #107C10;
}

.social-media {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.social-media span {
    display: block;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.social-media a {
    color: #ffffff;
    text-decoration: none;
}

.social-media a svg {
    width: 45px;
    height: 45px;
    margin: 0 5px;
    transition: transform 0.3s;
}

.social-media a svg:hover {
    transform: scale(1.1);
}

.footer-bottom {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 40px;
    font-size: 12px;
    color: #ddd;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom .language-select {
    margin-bottom: 10px;
}

.footer-bottom a {
    color: #1A9F1A;
    text-decoration: none;
    margin: 0 10px;
    font-size: 12px;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
