/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Card Style */
.card {
    width: 250px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
    background-image: url('https://s2-ge.glbimg.com/hgj24eLzTOm5WcMh2gsJWPYibEU=/0x7:770x979/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2020/q/f/4xh4idQlWaQeyAhyDitQ/halo-infinite-capa-xbox-series-x.png');
    background-size: cover;
    background-position: center;
}

.card:hover {
    transform: scale(1.05);
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #107C10;
    color: #00ff00;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.badge img {
    width: 65px;
    height: 29px;
    margin-right: 5px;
}

.badge2 {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #1e1e1e;
    color: #00ff00;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    background-color: #00a000;
    color: white;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-name {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 10px;
}

.product-price2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-buttons {
    justify-content: flex-end;
    display: flex;
    margin-top: -40px;
}

.global-btn,
.more-info-btn {
    background-color: #1e1e1e;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.share-btn {
    background-color: #1e1e1e;
    border: none;
    height: 30px;
    width: 30px;
    align-items: center;
    text-align: center;
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

.share-btn img{
    height: 15px;
    width: 15px;
}

/* Modal Style */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    padding: 20px;
    width: 600px;
    border-radius: 10px;
    text-align: center;
    display: flex;
}

.modal-content img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: #555;
}