@import "../styles/global.css"; /* Importa os estilos globais */

/* Vendas em destaque com layout flexível */
.top_sales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

/* Linha horizontal com espaçamento */
hr {
    width: 80%;
    margin: 20px auto;
    border: 1px solid var(--lightGreen); /* Cor personalizada */
}

/* Botão "Ver Mais" com estilo interativo */
.seeMoreButton {
    cursor: pointer; /* Indica que é clicável */
    display: block;
    margin: 20px auto;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--lightGreen); /* Cor inicial */
    transition: 0.3s ease-in-out;
}

.seeMoreButton:hover {
    /* Alteração de cor ao passar o mouse */
    color: var(--darkGreen);
}
