/* Adiciona as fontes Montserrat e Silkscreen via @font-face */
@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900&display=swap');
}

@font-face {
    font-family: 'Silkscreen', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
}

/* Declaração de variáveis CSS para reutilização */
:root {
    --white: #DADADA;
    --black: #161616;
    --gray: #171B1D;
    --lightGreen: #1A9F1A;
    --darkGreen: #107C10;
    --background-color: var(--black);
    --text-color: var(--white);
    --background-image: radial-gradient(var(--darkGreen) 5%, transparent 0);
    --Montserrat: 'Montserrat', sans-serif;
    --Silkscreen: 'Silkscreen', sans-serif;
}

/* Zera o padding e margin de todos os elementos para padronização */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global do body */
body {
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: 35px 35px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo global do main */
main {
    font-family: var(--Montserrat), sans-serif;
    width: 100%;
    margin: 0 auto;
    color: var(--text-color);
}

/* Estilos para a barra de pesquisa */
.search-bar {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: 2px solid var(--lightGreen);
    color: var(--lightGreen);
    border-radius: 0.25rem;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.search-bar input:focus {
    outline: none;
    border: 2px solid var(--darkGreen);
    transform: scale(1.1); /* Efeito de crescimento ao focar */
}

/* Estilo para responsividade em dispositivos menores */
@media (max-width: 768px) {
    main {
        margin-top: 100px;
    }
}