/* Importa estilos globais */
@import "../styles/global.css";
/* Estilo para o container principal das cartas */
.cards {
    margin-top: 40px;
    margin-bottom: -10px;
}

/* Estilo para títulos dentro do componente cards */
.cards h1 {
    font-size: 26px;
    margin-top: 40px;
    margin-left: 90px;
}

/* Estilo para links no título */
.cards h1 a {
    color: var(--lightGreen);
    text-decoration: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.cards h1 a:hover {
    color: var(--darkGreen); /* Efeito hover */
}

/* Linha separadora para o componente cards */
.cards hr {
    width: 80%;
    margin-left: 130px;
    margin-top: 10px;
}

/* Container para os produtos mais vendidos */
.top_sales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Estilo para lista geral de vendas */
.sales {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Estilo para banners */
.banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Ajusta o tamanho e o comportamento dos banners */
.banners img {
    width: 45%;
    cursor: pointer; /* Indica que o banner é clicável */
}

/* Container para o carrossel de cartas */
.cards-carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilo para o conteúdo interno do carrossel */
.cards-carousel-inner {
    display: flex;
    animation: scroll 30s linear infinite; /* Animação contínua */
}

/* Ajuste para os componentes card dentro do carrossel */
.cards-carousel .card-component {
    min-width: 200px; 
    margin: 0 10px;
}

/* Animação de rolagem do carrossel */
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* Estilo para responsividade em dispositivos menores */
@media (max-width: 768px) {
    /* Ajusta o tamanho dos banners para telas menores */
    .banners img {
        width: 90%;
        padding: 10px;
    }

    /* Ajusta o tamanho dos componentes card para telas menores */
    .cards-carousel .card-component {
        min-width: 150px;
    }

    .cards h1 {
        margin-left: 0;
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }
    
    .cards hr {
        margin-left: 0;
        width: 70%;
        margin: 0 auto;
    }
}